<div class="col-lg-6" ng-controller="draftsController as draftCtrl">
<h2>This is displayed when clicked on drafts</h2>
<ul class="list-group">
  <li class="list-group-item" ui-sref="dashboard.mail.drafts.inboxitem" ng-click="inboxDis.displayItems(inbox.id)" ng-repeat="inbox in draftCtrl.inboxData" >
  <img class="img-circle" width="70px" ng-src="src/module/component/images/FOOD_2016-Q4_$5BL_All-Day_448x300.jpg" src="src/module/component/images/FOOD_2016-Q4_$5BL_All-Day_448x300.jpg">
  <span>{{inbox.title}}</span>
  <div style="margin-left:75px;">{{inbox.description}}</div>
  </li>
</ul>
</div>
<div ui-view class="col-xs-6" ng-hide="inboxDis.hideContent || inboxDis.listDescription"></div>
<div class="col-xs-6 displayMail" ng-include src="'/src/module/template/mail.compose.html'" ng-show="inboxDis.hideContent"></div>
