
<h2>This is displayed when clicked on junk</h2>

<div class="col-xs-12" ng-controller="junkController as junkCtrl">
<div class="col-xs-12 col-lg-5" ng-class="{'mainBorder' : inboxDis.showLine}" >
<div class="listInbox col-xs-12">
<ul class="list-group">
<li id="inboxListItem" ui-sref="dashboard.mail.junk.inboxitem" ng-click="inboxDis.displayItems(inbox.id)" class="list-group-item" ng-repeat="inbox in junkCtrl.inboxData" ng-class="inboxDis.listClass(inbox.title)">
<img class="img-circle" width="70px" ng-src="src/module/component/images/grunt.jpg" src="src/module/component/images/grunt.jpg">
<span>{{inbox.title}}</span>

<div style="margin-left:75px;" ng-bind-html="inbox.description"></div>

</li>

</ul>

</div>
</div>
<div ui-view class="col-xs-7" ng-hide="inboxDis.hideContent || inboxDis.listDescription"></div>
<div class="col-xs-7 displayMail" ng-include src="'/src/module/template/mail.compose.html'" ng-show="inboxDis.hideContent"></div>

