
<div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>
<button class="btn btn-danger" ng-click="inboxDis.mailDisplay()">Compose</button>
</hr>
 
<div class="row">
<div class="col-xs-12">
  <i class="fa fa-angle-double-up pull-right" id="pullup" title="chevron" href="#" pull-up-chevron></i>
<div class="list-group">
  
  <a ui-sref="{{list.url}}" ng-repeat="list in inboxDis.listItems"  class="list-group-item">{{list.title}}</a>

  
</div>
{{title}}
</div>
</div>
